<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tum.in.l4k.binnenvokalapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/l4k_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/l4k_app_icon"
        android:supportsRtl="true">
        <activity android:name=".ParentArea"
            android:theme="@style/NoActionBar"></activity>
        <activity
            android:name=".ColorActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".AchievementActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".TutorialMSActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".PlayMS_1Activity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".PlayMS_2Activity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".PlayMS_3Activity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".PlayMS_4Activity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".PlayMS_5Activity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".PlaySMActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".PlayMSActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlaySSActivity"
            android:theme="@style/NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>